<form #changePassForm="ngForm" novalidate (ngSubmit)="onChange(changePassForm)">

    <div class="form-group">
        <input class="form-control" 
        type="password" 
        name="CurrentPassword" 
        ngModel #CurrentPassword="ngModel" 
        required minlength="6" maxlength="25" 
        placeholder="Current password" />

        <div *ngIf="CurrentPassword.invalid && CurrentPassword.dirty"
        class="form-control danger-alert">

            <div *ngIf="CurrentPassword.errors.required">
                Current password field is required.
            </div>
            <div *ngIf="CurrentPassword.errors.minlength">
                Password must be between 6 and 25 characters.
            </div>
            <div *ngIf="CurrentPassword.errors?.server">
                {{CurrentPassword.errors.server}}
            </div>

        </div>
    </div>

    <div class="form-group">
        <input class="form-control" 
        type="password" 
        name="NewPassword" 
        ngModel #NewPassword="ngModel" 
        required minlength="6" maxlength="25" 
        placeholder="New password" />

        <div *ngIf="NewPassword.invalid && NewPassword.dirty"
        class="form-control danger-alert">

            <div *ngIf="NewPassword.errors.required">
                New password field is required.
            </div>
            <div *ngIf="NewPassword.errors.minlength">
                Password must be between 6 and 25 characters.
            </div>
            <div *ngIf="NewPassword.errors?.server">
                {{NewPassword.errors.server}}
            </div>

        </div>
    </div>

    <div class="form-group">
        <button type="submit"
            [disabled]="changePassForm.invalid || btnBlock"
            class="btn btn-success btn-sm">
            Change
        </button>
    </div>

</form>