.jumbotron-fluid{
	height: 335px;
	text-shadow: grey 1.5px 1.5px 3px;
	color: whitesmoke;
}

.slider h1{
	margin: -1px;
	padding: 0;
	text-align: center;
	padding-top: 80px;
	font-size: 54px;
	color:#333333;
}

.slider p{
	text-align: center;
	padding-top: 40px;
	font-size: 54px;
}